@model ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="login-page  section-b-space cmn_bg_yellow">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @if (ViewData["SuccessMessage"].Equals("Success"))
                {
                    <h5 style="text-align:center;color:limegreen">پسورد با موفقیت تغییر یافت</h5>
                }
                <h3>اطلاعات کاربری</h3>
                <div class="theme-card">
                    <form class="theme-form" asp-controller="Buyer" asp-action="ChangePassword" asp-route-message="@ViewData["SuccessMessage"]" method="post">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="OldPass">رمز عبور قدیمی</label>
                                <input asp-for="@Model.oldPassword" class="form-control" id="OldPassword" type="password" />
                                <input id="OldPassCheck" type="checkbox" /> نمایش رمز<br />
                                @*<i class="fa-solid fa-eye fa-2xs" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>*@
                                <span asp-validation-for="oldPassword" style="color:red"></span><br /><br />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label class="form-label" for="Password">رمز عبور جدید</label>
                                <input asp-for="@Model.newPassword" class="form-control" id="NewPassword" type="password" />
                                <input id="NewPassCheck" type="checkbox" /> نمایش رمز<br />
                                @*<i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>*@
                                <span asp-validation-for="newPassword" style="color:red"></span><br /><br />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label class="form-label" for="RePassword">تکرار رمز عبور جدید</label>
                                <input asp-for="@Model.confirmNewPassword" class="form-control" id="ConfirmNewPassword" type="password" />
                                <input id="ConfirmNewPassCheck" type="checkbox" /> نمایش رمز<br />
                                @*<i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>*@
                                <span asp-validation-for="confirmNewPassword" style="color:red"></span><br /><br />
                            </div>
                        </div>
                        <div class="text-danger" style="color:red;text-align:right" asp-validation-summary="ModelOnly"></div><br />
                        <button class="btn btn-solid" type="submit">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        {
            const OldPassCheckElement = document.getElementById("OldPassCheck");
            const OldPassElement = document.getElementById("OldPassword");

            const NewPassCheckElement = document.getElementById("NewPassCheck");
            const NewPassElement = document.getElementById("NewPassword");

            const ConfirmNewPassCheckElement = document.getElementById("ConfirmNewPassCheck");
            const ConfirmNewPassElement = document.getElementById("ConfirmNewPassword");

            OldPassCheckElement.addEventListener("click", () => {
                if (OldPassCheckElement.checked)
                    OldPassElement.type = "text";
                else
                    OldPassElement.type = "password";
            });

            NewPassCheckElement.addEventListener("click", () => {
                if (NewPassCheckElement.checked)
                    NewPassElement.type = "text";
                else
                    NewPassElement.type = "password";
            });

            ConfirmNewPassCheckElement.addEventListener("click", () => {
                if (ConfirmNewPassCheckElement.checked)
                    ConfirmNewPassElement.type = "text";
                else
                    ConfirmNewPassElement.type = "password";
            });
        }
    </script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</section>
@*<section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p shop_page">
    <div class="container">
        <div class="row">
            <partial name="_buyerSidbarPanel"></partial>
            <div class="ec-shop-rightside col-lg-9 col-md-12">
                <div class="ec-vendor-dashboard-card ec-vendor-setting-card">
                    <div class="ec-vendor-card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ec-vendor-block-profile">
                                    <div class="ec-vendor-block-img space-bottom-30">
                                        <div class="ec-vendor-block-bg">
                                        </div>
                                        <div class="ec-vendor-block-detail">
                                            <img class="v-img" src="~/assets/images/user/user-image.jpg" alt="vendor image">
                                            <h5 class="name">@User.Identity.Name</h5>
                                        </div>
                                    </div>
                                    <h5>اطلاعات کاربری</h5>
                                    <form asp-controller="User" asp-action="ChangePassword" method="post">
                                        <div class="row">
                                            <div class="col-md-12>
                                                <label class="form-label"> رمز عبور قدیمی </label>
                                                <input asp-for="@Model.oldPassword" type="password" />
                                                <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                                                <span asp-validation-for="oldPassword" style="color:red"></span>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="form-label">رمز عبور جدید</label>
                                                <input asp-for="@Model.newPassword" type="password" />
                                                <span asp-validation-for="newPassword" style="color:red"></span>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="form-label">تکرار رمز عبور جدید</label>
                                                <input asp-for="@Model.confirmNewPassword" type="password" />
                                                <span asp-validation-for="confirmNewPassword" style="color:red"></span>
                                            </div>

                                            <div class="text-danger" style="color:red" asp-validation-summary="ModelOnly"></div>
                                        </div><br />
                                        <button type="submit" class="btn btn-primary">به روز رسانی</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
*@