@model AddWorkSampleViewModel
@{
    ViewData["Title"] = "اضافه کردن نمونه کار";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}
<form class="row g-3" asp-controller="Admin" asp-action="AddWorkSample" asp-route-Case="@ViewData["Case"]" enctype="multipart/form-data" method="post">
    <div class="ec-content-wrapper">
        <div class="content">
            <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
                <div>
                    <h1>افزودن نمونه کار</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header card-header-border-bottom">
                            <h2>افزودن نمونه کار</h2>
                        </div>
                        <div class="card-body">
                            <div class="row ec-vendor-uploads">

                                <div class="col-lg-4">
                                    <div class="ec-vendor-img-upload">
                                        <div class="ec-vendor-main-img">
                                            <div class="avatar-upload">
                                                @* @if (ViewData["Message"].Equals("Add"))
                                                { *@
                                                <div class="avatar-edit">

                                                    <input asp-for="@Model.SampleImage" type="file" id="imageUpload"
                                                           class="ec-image-upload"
                                                           accept=".jpg , .jpeg , .png"><label for="imageUpload">
                                                        <img src="~/AdminPanel/assets/img/icons/edit.svg"
                                                             class="svg_img header_svg" alt="edit">
                                                    </label>
                                                </div>
                                                @* } *@
                                                <div class="avatar-preview ec-preview">
                                                    <div class="imagePreview ec-div-preview">
                                                        @if (Model.Sample.Image != null)
                                                        {
                                                            <img class="ec-image-preview" src="~/assets/images/workSample-image/@(Model.Sample.Image)" alt="SampleImage">
                                                            <input style="display:none" asp-for="@Model.Sample.Image" value="@Model.Sample.Image" />
                                                        }
                                                        else
                                                        {
                                                            <img class="ec-image-preview"
                                                                 src="~/AdminPanel/assets/img/vender-upload-thumb-preview.jpg"
                                                                 alt="edit">
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div class="ec-vendor-upload-detail">


                                        @if (ViewData["Case"].Equals("Edit"))
                                        {
                                            <div class="col-md-6" style="margin-bottom:10px">
                                                <label for="inputEmail4" class="form-label">شناسه نمونه کار </label>
                                                <input asp-for="@Model.Sample.Id" class="form-control slug-title" value="@Model.Sample.Id" readonly>
                                            </div>
                                        }
                                        <div class="col-md-6" style="margin-bottom:10px">
                                            <label class="form-label">گروه</label>
                                            <select asp-for="@Model.Sample.groupId" class="form-select">
                                                <option selected>-</option>
                                                @foreach (var group in Model.groups)
                                                {
                                                    <option value="@group.id">@group.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div style="color:red" asp-validation-summary="ModelOnly"></div><br />
                                        <div class="col-md-12">
                                            <button type="submit"
                                                    class="btn btn-primary">
                                                ثبت
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>