@model WorkSampleListViewModel
@{
    ViewData["Title"] = "نمونه کار ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Start -->
<div class="bread_crumb blur-up lazyload">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sec_low">
                <div class="functionalities">
                    <ul id="breadcrumb" class="breadcrumb">
                        <li><a title="Home" href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i>نمونه کارها</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-title">
                    <h2>نمونه کارها</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Start -->
<section class="portfolio-section cmn_bg">
    <div class="container">
        <div class="center_tag" id="form2">
            <div id="CategoryContainer" class="btn_center">

                <button class="filter-button project_button active" data-filter="all" value="0" onclick="selectCategory(this)">همه</button>
                @foreach (var group in Model.groups)
                {
                    <button class="filter-button project_button" data-filter="fashion" value="@group.id" onclick="selectCategory(this)">@group.Name</button>
                }
            </div>
        </div>
        <div class="row zoom-gallery">
            @foreach (var sample in Model.Samples)
            {
                <div class="isotopeSelector filter fashion col-lg-3 col-sm-6" data-aos="zoom-out">
                    <div class="overlay">
                        <div class="border-portfolio">
                            <a class="zoom_gallery" href="~/assets/images/workSample-image/@sample.Image" data-source="http://500px.com/photo/32554131">
                                <div class="overlay-background">
                                    <i class="ti-plus" aria-hidden="true"></i>
                                </div>
                                <img style="width:240px;height:160px" src="~/assets/images/workSample-image/@sample.Image" class="img-fluid blur-up lazyload " alt="sampleImage">
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- pagination Start -->
    <div class="pagination_sec pagination_portfolio">
        @{
            int page = int.Parse(ViewData["page"].ToString());
            int pageCount = int.Parse(ViewData["pagesCount"].ToString());
        }
        <span id="activePage" style="display:none">@int.Parse(ViewData["page"].ToString())</span>
        <span id="pagesCount" style="display:none">@int.Parse(ViewData["pagesCount"].ToString())</span>
        <div class="content_detail__pagination cdp">
            <button style="cursor:pointer" class="cdp_i" onclick="previousPage()"><i class="fa fa-angle-double-left" aria-hidden="true"></i>قبلی</button>
            @*<a href="#" class="cdp_i">1</a>*@
            @if (pageCount <= 8)
            {
                @for (int i = 1; i <= pageCount; i++)
                {
                    if (i == page)
                    {
                        <button style="cursor:pointer;background-color:#f7e294;border:1px solid #f7e294" class="cdp_i paginationBtn active" onclick="selectPage(this)">@i</button>
                    }
                    else
                    {
                        <button style="cursor:pointer" class="cdp_i paginationBtn" onclick="selectPage(this)">@i</button>
                    }

                }
            }
            else
            {
                if (page >= 4)
                {
                    @for (int i = page - 3; i <= page; i++)
                    {
                        if (i == page)
                        {
                            <button style="cursor:pointer;background-color:#f7e294;border:1px solid #f7e294" class="cdp_i paginationBtn active" onclick="selectPage(this)">@i</button>
                        }
                        else
                        {
                            <button style="cursor:pointer" class="cdp_i paginationBtn" onclick="selectPage(this)">@i</button>
                        }
                    }

                }
                else
                {
                    @for (int i = 1; i <= page; i++)
                    {
                        if (i == page)
                        {
                            <button style="cursor:pointer;background-color:#f7e294;border:1px solid #f7e294" class="cdp_i paginationBtn active" onclick="selectPage(this)">@i</button>
                        }
                        else
                        {
                            <button style="cursor:pointer" class="cdp_i paginationBtn" onclick="selectPage(this)">@i</button>
                        }
                    }
                }
                if (page + 4 <= pageCount)
                {
                    @for (int i = page + 1; i <= page + 4; i++)
                    {
                        if (i == page)
                        {
                            <button style="cursor:pointer;background-color:#f7e294;border:1px solid #f7e294" class="cdp_i paginationBtn active" onclick="selectPage(this)">@i</button>
                        }
                        else
                        {
                            <button style="cursor:pointer" class="cdp_i paginationBtn" onclick="selectPage(this)">@i</button>
                        }
                    }
                }
                else
                {
                    @for (int i = page + 1; i <= pageCount; i++)
                    {
                        if (i == page)
                        {
                            <button style="cursor:pointer;background-color:#f7e294;border:1px solid #f7e294" class="cdp_i paginationBtn active" onclick="selectPage(this)">@i</button>
                        }
                        else
                        {
                            <button style="cursor:pointer" class="cdp_i paginationBtn" onclick="selectPage(this)">@i</button>
                        }
                    }
                }
            }
            <button style="cursor:pointer" class="cdp_i" onclick="nextPage()">بعدی<i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
        </div>
    </div>
    <!-- pagination End -->
</section>
<!-- Our Project End -->
<script src="~/assets/js/WorkSampleList.js?version=3"></script>